.idea/
.run/
.vscode/
.editorconfig
.prettierignore
.prettierrc
.tool-versions
eslint.config.mjs

node_modules/

.docker/mariadb/
dist/
generated/prisma/

.env*
*.pem

.gitattributes
.gitignore

*.md
