.idea/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

# Compiled output
dist/
generated/prisma/

# Node
node_modules/

# Miscellaneous
.env*
!.env.template
*.pem
.docker/mariadb/data/
.docker/mariadb/root-password.txt

# System files
.DS_Store
Thumbs.db

/generated/prisma
