*

!*/

!*.json
!*.yaml
!*.ts
!*.cts
!*.mts
!*.js
!*.cjs
!*.mjs
!*.sh

!.prettierrc
!.swcrc

.idea/
.run/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

dist/
generated/prisma/

node_modules/

pnpm-lock.yaml
